@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color: ThreeDHighlight;
    }

    #stats {
    }

    #title {
        color: black;
        font-family: cursive;
        text-align: center;
    }

    #subtitle {
        color: teal;
    }

    #intro {
        padding-top: 50px;
    }

    #subnote {
        color: lightgrey;
        text-align: center;
    }

    #heading {
        background-color: aliceblue;
        flex-direction: column;
        display: flex;
        padding: 1.76471rem 2.64706rem;
    }

    #headerPicture {
        margin: 0 -1.17647rem;
        align-items: center;
        min-height: 250px;
    }
    .BlockPadding {
        padding: 2rem 2rem;
    }

    .text {
        text-align: left;
        font-size: large;
    }

    .graphic {
        font-size: large;
    }

    .subheaders {
        color: black;
    }
</style>

<div id="headerPicture" align="center">
    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/FRS-Article-1.jpg" />
</div>

<div id="heading">
    <h1 class="display-3" id="title">Women in Computing Majors</h1>
    <h4 id="subnote">May 3rd, 2021 | Gracyn Green</h4>
</div>

<div class="BlockPadding">
    <h2 class="subheaders">About</h2>
    <br />
    <p class="text" align="left">
        Women wanting to go into computing fields will face unique challenges due to the current state of these majors across colleges nationwide. 
        In order to stop the trend of a male-dominated field, change needs to happen now in supporting and encouraging women to major in computing.
    </p>
</div>
<div class="BlockPadding" id="addressProblem">
    <h4 class="subheaders">How is this an issue?</h4>

    <p class="text" id="intro" align="left">
        There is a lack of women in computing majors throughout universities across the US. Why? This is a field with a projected 22% increase in jobs over the next
        few years, with a high salary, and the opportunity to be creative.
    </p>

    <p class="text" align="left">
        By a staggering statistic, "the U.S. department of labor estimates that by 2026 there will be nearly 3.5 million computing related jobs available with enough
        graduates for only 17% of them at current graduation rates" (Babes-Vroman and Nguyen). With society increasing its usage of technology, there is a higher
        demand for students to major in computer science.

        When there is underrepresentation in computing programs at colleges, there will be lower employment of women within the field overall.
    </p>

    <p align="center" class="graphic">
        The graphic below shows the degrees earned by women in computer science vs the degrees earned by men:
    </p>

    <figure align="center">
        <img src="https://crownofcastile.files.wordpress.com/2012/11/gendercomputer.jpg" alt="Degrees earned in cs by males and females" />
        <figcaption class="graphic">Data from the National Center for Education Statistics</figcaption>
    </figure>

    <br />

    <p class="text">
        There is also an issue with retention once within a computing major. By the research conducted by Patterson-Hazley, it shows that female students are more
        likely to have higher levels of anxiety than male students even though they are, on average, more academically prepared and have more motivation. Then
        those women who do drop are having higher GPAs than the male students who drop. This is something that in part stems from the feeling of not being good enough
        for this field - of not feeling like they belong. This advocacy is to reverse this trend and bring more women into this field of innovation and creativity.
        Women <b>do</b> have a place in computing. 
    </p>


</div>

<div class="BlockPadding" id="whyItMatters">
    <h2 class="subheaders">Why this matters</h2>
    <br />
    <p class="text">
        If there are not enough women majoring in computer science, then there won't be enough women within the industry. This leads to an
        underrepresented workforce that doesn't have the variety of perspectives and experiences that it should have as a leading field within our
        society.
    </p>
    <br />
    <p class="text">
        Women have a right to be in the technology field. "Starting when computer technology first emerged during World War II and continuing into the 1960s,
        women made up most of the computing workforce. By 1970, however, women only accounted for 13.6% of bachelor’s in computer science graduates" (Women in Computer Science: Getting Involved in STEM).
        That percentage has continued to drop over the years, even as the increase in regular use of technology has gone up. 
    </p>

</div>

<div class="BlockPadding" id="currentPrograms">
    <h2 class="subheaders">Programs:</h2>
    <p class="text">
        Organizations that advocate for women in STEM:
        <ul>
            <li><a href="https://girlswhocode.com/">Girls Who Code</a></li>
            <li><a href="https://gems.education.purdue.edu/">GEMS (Girls Excelling in Math and Science)</a></li>
            <li><a href="https://girlstart.org/">GirlStart</a></li>
            <li><a href="https://momentum.gseis.ucla.edu/">Building, Recruiting, and Inclusion for Diversity (BRAID)</a></li>
        </ul>
    </p>
    <p class="text">
        Resources that offer coding practice:
        <ul>
            <li><a href="https://code.org/">Code.org</a></li>
            <li><a href="https://scratch.mit.edu/">Scratch</a></li>
        </ul>
    </p>
</div>


<div class="BlockPadding" id="experiences">
    <h2 class="subheaders">Author's Personal Experience</h2>
    <br />
    <p class="text">
        "My name is Gracyn Green, and I'm a current student at the University of Nebraska-Lincoln. I chose to major in computer science and it was the best
        decision I've made. However, during my first few courses I did have a feeling of imposter syndrome. I didn't believe I was ready or qualified
        to be in this major when I didn't have extensive knowledge like the rest of the male students in my classes I thought had. It made me question
        why I was here in the first place. Though as I learned more and kept at it, I could see how much I was changing - both in my skill set and in
        my confidence. This semester for my English paper I interviewed someone, and she told me some good advice - "Don't Apologize."
        It's simple but powerful. I was always saying things that made me put to question my skills. It even encouraged my imposter syndrome mindset.
        But I realize and fully believe it now that I am here because I'm meant to be here. I belong to this major and this field just like anyone else.
        I am willing to stand up for myself and make my voice heard. I am a woman in tech and I am not afraid to show that." 
    </p>
</div>
