@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color: ThreeDHighlight;
    }
    #title {
        color: black;
    }
    #subtitle {
        color: teal;
    }
    #intro {
        padding-top: 50px;
    }
    .text-center {
    }
</style>

<div class="text-center">
    <h1 class="display-3" id="title">Women in Computing Majors</h1>
    <h2 id="subtitle">#Don'tApologize</h2>

    <p id="intro" align="left">
        There is a lack of women in computing majors throughout universities across the US. Why? This is a field with a projected 22% increase in jobs over the next
        few years, with a high salary, and the opportunity to be creative.
    </p>

    <p align="left">
        By a staggering stastic, "the U.S. department of labor estimates that by 2026 there will be nearly 3.5 million computing related jobs available with enough
        graduates for only 17% of them at current graduation rates" (Babes-Vroman and Nguyen). With society increasing its usuage of technology, there is a higher
        demand for students to major in computer science.

        When there is underrepresentation in computing programs at colleges, there will be lower employment of women within the field overall.
    </p>

    <p>
        The graphic below shows the degrees earned by women in computer science vs the degrees earned by men:
    </p>

    <!-- <img src="/Images/PieChartMaleVsFemale.png" alt="Graphic of the Percentage of Male vs Female Software Developers in the Workforce" /> -->
    <figure>
        <img src="https://crownofcastile.files.wordpress.com/2012/11/gendercomputer.jpg" alt="Degrees earned in cs by males and females" />
        <figcaption>Data from the National Center for Education Statistics</figcaption>
    </figure>
    


</div>
