@page
@model AdvocacyProject.Pages.SourcesModel
@{
    ViewData["Title"] = "Sources";
}
<style>
    #title {
        background-color: aliceblue;
        padding: 1.76471rem 2.64706rem;
    }

    .BlockPadding {
        padding: 2rem 2rem;
    }

</style>

<div id="SourcePage" class="BlockPadding">
    <h1 id="title">@ViewData["Title"]</h1>
    <p>This page is for references used within the website.</p>

    <ol>
        <li>
            Patterson-Hazley, M. (2016). SUCCESSFUL FEMALE STUDENTS IN UNDERGRADUATE COMPUTER SCIENCE AND COMPUTER ENGINEERING:
            MOTIVATION, SELF-REGULATION, AND QUALITATIVE CHARACTERISTICS
        </li>
        <li>
            W. M. DuBow, "Diversity in Computing: Why It Matters and How Organizations Can Achieve It," in Computer, vol. 46, no. 3,
            pp. 24-29, March 2013, doi: 10.1109/MC.2013.6.
        </li>
        <li>
            Babes-Vroman, Monica and T. D. Nguyen. “Gender Diversity in Computer Science at a Large Research University.”
            ArXiv abs/2004.13760 (2020): n. pag.
        </li>
        <li>
            "Women In Computing - Analysis & Data Trends | GCU." GCU, 28 May 2020, https://www.gcu.edu/blog/gcu-experience/analysis-women-computing.
        </li>
        <li>
            “Is Diversity in Computing Jobs Improving? | by Code.org | Medium.” Code.Org, Medium, 10 Apr. 2018,
            https://codeorg.medium.com/is-diversity-in-computing-jobs-improving-32f30068b7de.
        </li>
        <li>
            “Women in Computer Science: Getting Involved in STEM.” Get an Education the World Needs | ComputerScience.Org, 16 Mar. 2021,
            https://www.computerscience.org/resources/women-in-computer-science/
        </li>
        <li>
            Degrees Earned, Women vs Men | https://www.facebook.com/WordPresscom, 28 Apr. 2013,
            https://habitableworlds.wordpress.com/2013/04/28/degrees-earned-women-v-men/
        </li>
        <li>
            Simplilearn. “The History and Future of Women In Computing.” Simplilearn.Com. Simplilearn, 4 March 2019.
            https://www.simplilearn.com/the-history-and-future-of-women-in-computing-article
        </li>
    </ol>
</div>