@page
@model AdvocacyProject.Pages.TakeActionModel
@{
}
<style>
    #title {
        background-color: aliceblue;
        padding: 1.76471rem 2.64706rem;
    }

    #subtitle {
        color: teal;
    }

    .BlockPadding {
        padding: 2rem 2rem;
    }

    .text {
        font-size: large;
    }
</style>

<div class="BlockPadding" id="takeaction">
    <h1 id="title">What can YOU do to help?</h1>

    <br />

    <h4>As a women in a computing major:</h4>
 
    <ul class="text">
        <li>Don't apologize for knowing what you're doing. Be confident and know that you belong in this field. </li>
        <ol style="list-style-type: circle; padding-bottom: 0;">
            <li id="subtitle">#Don'tApologize</li>
            <li>
                Use this hashtag when posting about your experience as a woman in computer science. Showcase your struggles and how you have
                overcome them. Be the change the media needs to see - the success stories of women in computing majors.
            </li>
        </ol>
    </ul>

    <h4>As a student in a computing major:</h4>
    <ul class="text">
        <li>
            Start a computing after school club at a local elementary, middle, or high school to increase awareness to students still
            figuring out what they want to do in life.
        </li>
        <li>
            Use social media as an outlet for change.
        </li>
    </ul>

    <h4>As a college student: </h4>
    <ul class="text">
        <li>Spread the word! Don't be a bystander in situations which discourage women to be in computing fields.</li>
        <li>Don't encourage the stereotype that says computing majors are for men.</li>
    </ul>

</div>